body{
	background-image: url("../../image/fondo_login.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.padre{
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: auto;
	display: flex;
	padding: 2rem;
	width: 40em;
}

.hijo{
	margin: auto;
	display: inline-table;
	height: auto;
	width: auto;
}

.hijo h2, h4{
	text-align: center;
}

.btn{
	float: left;
}

.separador{
	margin-bottom: 0px;
}

#card-familias a{
	color: #000000c4;
	text-decoration: none;
	cursor: pointer;
}

#card-familias a:hover .card-title{
	color: white;
	background-color: rgba(0,0,0,.5);
}

.tarjeta{
	border: 0px;
	display: inline;
	padding: 2em;
	margin: 2em;
}

.card-body{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 150px;
	padding: 0px;
}

.card-body .card-title{
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.card-title{
	align-items: center;
	align-content: center;
	border-radius: 5px;
	display: grid;
	height: 100%;
	padding: 1.25rem;
}