:root{
	--color-primary: #007bff;
	--color-secondary: #1057a5a8;
	--color-easy: #28a745;
	--color-medium: orange;
	--color-hard: red;
}

.filtro-text{
	margin-right: 1em;
}

.form-inline{
	display: block;
	float: right;
}

.news{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.news .card{
	margin: 1em .0em;
}

.card-body{
	padding: .8rem 1.25rem 1.25rem 1.25rem;
}

.card:hover{
	border-color: white;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
	transition: all .1s ease-in;
}

.card span{
	color: var(--gray);
	font-size: .725em;
	display: block;
	padding-bottom: .5rem;
}

.recent{
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	padding-left: 0rem;
	padding-right: 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

hr{
	margin-top: 0px;
	margin-bottom: 0px;
}

h5{
	font-size: 1.45rem;
	font-weight: bold;
}

.recent .row{
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
}

.recent div:hover{
	background-color: var(--light);
}

.recent h2{
	margin-top: .3em;
	text-align: center;
}

.recent h5{
	font-size: 1.1em;
}

.recent img{
	max-width: 100%;
}

.recent .img-level{
	margin-top: 150%;
}

.fa-flag{
	font-size: 1.5em !important;
	float: right;
}

.flag-green{
	color: var(--color-easy) !important;
}

.flag-orange{
	color: var(--color-medium) !important;
}

.flag-red{
	color: var(--color-hard) !important;
}

#close-question{
	display: inline-block;
	font-size: 1em;
	color: var(--success);
}