body{
	background-image: url("../../image/fondo_login.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.padre{
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	margin: auto;
	padding: 2rem;
}

.hijo{
	margin: auto;
}

.hijo img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	padding: 2em 2em .8em 2em;
}

.input-login button{
	background: #29466e;
	border-radius: .25rem;
	border: 1px solid #ced4da;
	margin-top: 1.2em;
	padding: .6em 1em .6em 1em;
}

.input-login input{
	border-radius: .30rem;
	border: 1px solid #ced4da;
	line-height: 1.5;
	margin: .7em 0em;
	padding: .4rem .4rem .4rem 1rem;
	width: 100%;
}

.btn-login{
	text-align: center;
}
