nav{
	background-color: black;
	color: white;
}

nav .navbar-toggler span{
	color: #fff;
}

.navbar-brand{
	color: #fff;
	font-weight: bold;
	padding-left: 5rem;
}

.navbar-brand img{
	padding-right: 1rem;
}

.navbar-brand:hover{
	color: #9e9c9c;
	transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
}

.margin-top-nav{
	margin-top: 6em;
}

.user-nav{
	border-radius: 50%;
	width: 26px;
}

#notificacion{
	margin-right: .5rem;
}

#closeSession{
	color:  red;
	font-weight: bold;
}

#float-notificacion{
	padding: 0px;
	margin: 0px;
}

#float-notificacion div{
	border-radius: 5px;
	padding: .5em;
}

#float-notificacion div:hover{
	background: var(--light);
	cursor: pointer;
}



#float-notificacion a{
	color: black;
	text-decoration: none;
}

.dropdown-menu{
	right: .8em;
	left: 80%;
}

@media only screen and (min-width: 576px){
	.navbar-collapse {
		display: block!important;
	}
}
