:root{
	--color-primary: #007bff;
	--color-secondary: #1057a5a8;
	--color-easy: #28a745;
	--color-medium: orange;
	--color-hard: red;
}

h1{
	text-align: center;
}

.fuente-ckeditor{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.fa-flag{
	font-size: 1.5em;
}

.difficulty{
	margin: 1em .5em;
	cursor: pointer;
}

.flag-green{
	color: var(--color-easy);
}

.flag-orange{
	color: var(--color-medium);
}

.flag-red{
	color: var(--color-hard);
}

.margin-none{
	margin: 0em;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Escoge tu imagen";
}

#btn-add-inputFile{
	display: none;
}

.custom-file{
	margin-top: .3em;
	margin-bottom: .3em;
}

#img-test img{
	max-width: 100%!important;
	max-height: 100%!important;
}

.margin-5em{
	margin-top: 6.5em!important;
}

#crearImput{
	z-index: 0;
}

#send-question{
	margin-top: 1em;
	position: absolute;
}

#rpta{
	height: 50px;
}

#close0{
	display: none;
}

.btn-delete-img{
	font-size: 1.15em;
}

.btn-delete-img:hover{
	color: red;
}

.btn-delete-img:focus{
	box-shadow: 0 0 0 0!important;
}

.display-none{
	display: none!important;
}