:root{
	--color-primary: #007bff;
	--color-secondary: #1057a5a8;
	--color-easy: #28a745;
	--color-medium: orange;
	--color-hard: red;
}

.question{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.question h4{
	font-weight: bold;
}

.question-user{
	color: var(--color-easy);
	padding-left: 15px;
	padding-right: 0px;
}

.profile-user{
	border-radius: 50%;
	max-width: 64px;
}

.question-data .fa-flag{
	display: inline;
}

.question-data h6{
	margin-left: .5em;
	display: inline;
}

.question-contend .question-date{
	color: var(--gray);
	font-size: .8em;
	display: inline;
	padding-bottom: .5rem;
}

.img-user-reply{
	border-radius: 50%;
	max-width: 90%;
}

.contend-img{
	padding: 2em 4em;
}

.contend-img div{
	padding: .3em 0em;
}

.img-question{
	border-radius: 5px;
	max-width: 90%;
}

.fa-flag{
	font-size: 1.5em;
}

.difficulty{
	margin: 1em .5em;
	cursor: pointer;
}

.flag-green{
	color: var(--color-easy);
}

.flag-orange{
	color: var(--color-medium);
}

.flag-red{
	color: var(--color-hard);
}

.fa-user-circle{
	font-size: 4em;
}

.fa-star{
	color: var(--yellow);
	font-size: 1.5em;
	margin-top: 1.4em;
	cursor: pointer;
}

.question span{display: block;}

.fa-external-link-alt{
	display: inline-block!important;
}

.end-question{
	border: 1.5px solid var(--gray);
}

.reply-user{
	color: var(--color-secondary);
	padding-left: 15px;
	padding-right: 0px;
}

.reply-date{
	color: var(--gray);
	font-size: .725em;
	padding-bottom: .5rem;
}

.my-user{
	color: var(--color-primary);
}


.reply-data .reply-user-name{
	color: var(--color-secondary);
	display: inline;
	font-weight: bold;
}

.reply-data .reply-date{
	display: inline;
}

.reply-input input{
	border-top: 0px;
	width: 100%;
}

.reply{
	border-radius: 5px;
	padding: 1em .8em;
}

.reply-hover{
    background-color: var(--light);
    box-shadow: 2px 2px 20px 1px #dadadb;
    transition: all .1s ease-in;
}

.reply:hover{
	background-color: var(--light);
	box-shadow: 2px 2px 20px 1px #dadadb;
	transition: all .1s ease-in;
}

#user-reply{
	height: 4em;
}

.margin-right{
	margin-right: .3em;
}

.margin-left{
	margin-left: .3em;
}

#close-question{
	display: inline-block;
	font-size: 1em;
	color: var(--success);
}

@media (max-width: 576px){
	.question-contend{
		margin-top: 1em;
	}

	.reply-input .row{
		margin-top: 1em;
	}

	.reply-input .btn-primary{
		display: flex;
		margin: auto;
	}

	.reply-contend{
		margin-top: .75em;
	}
}
