body{
	background-image: url("../../image/fondo_login.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.padre{
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	margin: auto;
	padding: 2rem;
	width: 32.5em;
}

.hijo{
	margin: auto;
	align-content: center;
	align-items: center;
}

h2{
	text-align: center;
}

#test{
	display: none;
}