body{
	background-image: url("../../image/fondo_login.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.padre-container{
	align-items: center;
	align-content: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 2rem;
	margin-top: 12em;
	width: 30em;
}

.hijo{
	margin: auto;
	align-content: center;
	align-items: center;
}

.hijo h2{
	text-align: center;
}

.input-group-text{
	display: flex;
}

.modal-body img{
	border: .1px solid gray;
	border-radius: 30px;
}

.select-item img{
	max-width: 100%;
	margin: .5em;
	padding: .5em;
}

.select-item img:hover{
	background: #ececec52;
}

#img-test{
	max-width: 100%;
}

#usuario{
	margin-top: .4em;
}

.btn-outline-primary:hover{
	background-color: #007bff4a;
}