:root{
	--color-primary: #007bff;
	--color-secondary: #1057a5a8;
	--color-easy: #28a745;
	--color-medium: orange;
	--color-hard: red;
}

.img-banner-user{
	height: 14rem;
}

.margin-top{
	margin-top: 6rem;
}

.imagen-banner{
	margin-top: 60px;
	width: 100%;
	height: 14rem;
	position: absolute;
}

.imagen-banner img{
	max-width: 100%;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#edit-img-user{
}

.img-user{
	background: #ffffff;
	max-width: 100%;
	max-height: 100%;
	border-radius: 100%;
	border:  4px solid #ffffff;
	margin-bottom: .6em;
}

.edit-user-container:hover .btn-edit-user{
	display: block;
}

.btn-edit-user{
	position: absolute;
	top: 7em;
	right: .1em;
	display: none;
}

.btn-edit-user-all{
	margin-top: 1em;
	text-align: center;
}

.name-user{
	text-align: center;
}

.points-user{
	text-align: center;
}

.email-user{
	max-width: 100%;
	display: block;
	text-align: center;
}

.fab-contend{
	display: flex;
	align-items: center;
	justify-content: center;
}

.fab{
	font-size: 1.5em;
	padding: .1em .5em;
	text-align: center;
	cursor: pointer;
}

.fa-facebook:hover{
	color: #1978f2;
}

.fa-twitter:hover{
	color: #00bbf2;
}

.title-col-2{
	text-align: center;
}

.end-questions{
	border-radius: 50px;
	margin-top: 1em;
}

.question{
	padding: .5em;
	border-bottom: 1px solid #86868657;
}

.question:hover{
	background: #e0e0e057;
}

.modal-body img{
	border: .1px solid gray;
	border-radius: 30px;
}

.select-item img{
	max-width: 100%;
	margin: .5em;
	padding: .5em;
}

.select-item img:hover{
	background: #ececec52;
}

.select-item-selected img{
	background: #dadada;
}

.select-item-selected img:hover{
	background: #dadada;
}

.custom-file img{
	height: auto;
	max-width: 100%;
}

#itemperfil{
	cursor: pointer;
}